<h1>Book Details</h1>

<div class="jumbotron">
  <div class="container">
    <img width="75px" height="75px" class="thumbnail" src="{{book.image_url}}" />

    {{#if user}}
    <div class="row pull-right">
      <div class="col-md-3">
        <a class="btn btn-success" href="/books/edit/{{book.id}}" role="button">
          Edit
        </a>
      </div>
      <div class="col-md-4">
        <a class="btn btn-danger" href="/books/delete/{{book.id}}" role="button">
          Delete
        </a>
      </div>
      {{#if isFavorite}}
        <div class="col-md-4">
          <div class="btn btn-default">
            <span class="glyphicon glyphicon-star" style="font-size:15px;color:#ffd700;"></span>
          </div>
        </div>
      {{else}}
      <div class="col-md-3">
        <a class="btn btn-warning" href="/books/favorite/{{book.id}}" role="button">
          Favorite
        </a>
      </div>
      {{/if}}
    </div>
    {{/if}}

    <h3>{{book.title}}</h3>
    <p>{{book.description}}</p>
  </div>
</div>

{{#if booksInGenre}}
<div class="other-results">
  <h3>Other {{otherGenre}} books </h3>
  {{#each booksInGenre}}
  <div class="book">
    <img width="75px" height="75px" class="thumbnail" src={{image_url}} />
    <h4>{{title}}</h4>
    <a href="/books/{{id}}" class="btn btn-primary btn-default">
      <span class="glyphicon glyphicon-book"></span> View this title
    </a>
  </div>
{{/each}}
</div>
{{/if}}

{{#if booksByAuthor}}
<div class="other-results">
  <h3> Other books by {{otherAuthor}} </h3>
  {{#each booksByAuthor}}
  <div class="book">
    <img width="75px" height="75px" class="thumbnail" src={{image_url}} />
    <h4>{{title}}</h4>
    <a href="/books/{{id}}" class="btn btn-primary btn-default">
      <span class="glyphicon glyphicon-book"></span> View this title
    </a>
  </div>
  {{/each}}
</div>
{{/if}}
