<h1>Book Details</h1>
<div class="jumbotron">
  <div class="container">
    <div class="row pull-right">
      <div class="col-md-5">
        <a class="btn btn-success" href="/books/edit/{{book.id}}" role="button">
          Edit
        </a>
      </div>
      <div class="col-md-5">
        <a class="btn btn-danger" href="/books/delete/{{book.id}}" role="button">
          Delete
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img class="thumbnail" src="{{book.image_url}}" />
      </div>
      <div class="col-md-9">
        <h3> {{book.title}} </h3>
        <p>{{book.description}}</p>
      </div>
    </div>
  </div>
</div>


<div class = "jumbotron">
  <div class="container">
    <div class="row">
{{#if booksInGenre}}
      <div class="other-results">

  <h3>Other {{otherGenre}} books </h3>
  {{#each booksInGenre}}
  <div class="col-md-3">
    <img width="75px" height="75px" class="thumbnail" src={{image_url}} />
    <h4>{{title}}</h4>
    <a href="/books/{{id}}" class="btn btn-primary btn-default">
      <span class="glyphicon glyphicon-book"></span> View this title
    </a>
  </div>
{{/each}}
</div>
</div>
{{/if}}


<div class = "jumbotron">
<div class="container">
{{#if booksByAuthor}}
<div class="other-results">
  <h3> Other books by {{otherAuthor}} </h3>
  {{#each booksByAuthor}}
  <div class="col-md-3">
    <img width="75px" height="75px" class="thumbnail" src={{image_url}} />
    <h4>{{title}}</h4>
    <a href="/books/{{id}}" class="btn btn-primary btn-default">
      <span class="glyphicon glyphicon-book"></span> View this title
    </a>
  </div>
  {{/each}}
</div>
{{/if}}
</div>
</div>