<div class="col-md-12">
  <div class="modal-dialog" style="margin-bottom:0">
    <div class="modal-content">
      <div class="panel-heading">
          <h3 class="panel-title">Edit authors info</h3>
      </div>
      <div class="panel-body">
        <form action="/books/edit_book/{{id}}" method="post" role="form">
          <fieldset>
            <div class="form-group">
              <label>Title:<label>
              <input class="form-control" placeholder="Fear and Loathing" value ="{{populate.title}}" name="title">
            </div>
            <div class="form-group">
              <label>Author:<label>
              <input class="form-control" placeholder="Hunter S. Thompson" value ="{{populate.author_name}}" name="author">
            </div>

            <div class="form-group">
              <label>Genre:<label>
              <input class="form-control" placeholder="Gonzo Journalism" value ="{{populate.genre_name}}" name="genre">
            </div>

            <div class="form-group">
              <label>Cover Photo:<label>
              <input class="form-control" placeholder="Gonzo Journalism" value ="{{populate.image_url}}" name="image_url">
            </div>

            <div class="form-group">
              <label>Description:</label>
                <textarea class="form-control" type="text" rows="5" >{{populate.description}}</textarea>
            </div>
            <button class="btn btn-sm btn-success">Submit</button>
          </fieldset>
        </form>
        </div>
    </div>
  </div>
</div>

