<h1>Book Details</h1>
<div class="jumbotron">
  <div class="container">
    <img class="thumbnail" src="{{results.image_url}}" />
    <h3> {{results.title}} </h3>
    <p>{{results.description}}</p>
  </div>
</div>


{{!-- 
<h3> Other {{Genre}} books </h3>
{{#each genre_result}}
<img> {{PosterURL}} </img>
<h4> {{BookTitle}} </h4>
<!-- Button to view this selection -->
<a href="{{bookDetailLink}}" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-book"></span> View this title</a>
{{/each}}


<h3> Other books by {{Author}} </h3>
{{#each author_result}}
<img> {{PosterURL}} </img>
<h4> {{BookTitle}} </h4>
<!-- Button to view this selection -->
<a href="{{bookDetailLink}}" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-book"></span> View this title</a>
{{/each}}
--}}
