<div class="jumbotron">
  <div class="container">
    <div class="row pull-right">
      <div class="col-md-5">
        <a class="btn btn-success" href="/genres/edit/{{genre_id}}" role="button">
          Edit
        </a>
      </div>
    </div>
    <img class="thumbnail" src="{{image_url}}" />
    <h3> {{genre.name}} </h3>
    <p>{{genre.description}}</p>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    {{#each books}}
      <img class="thumbnail" src="{{image_url}}" />
      <h3> {{title}} </h3>
      <p>{{description}}</p>
      <a href="#" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-book"></span> View this title</a>
      {{/each}}
  </div>
</div>
