<div class="jumbotron">
  <div class="container">
    <div class="row">
    <h2> Books </h2>
      {{#each books}}
        <div class="col-3">
          <img class="img-responsive" src="{{image_url}}" alt="Smiley face" />
          <h4 class="display-3">{{title}}</h4>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/books/{{id}}" role="button">
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
    <h2> Genres </h2>
      {{#each genres}}
        <div class="col-md-3">
          <h4 class="display-3">{{name}}</h4>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/genres/{{id}}" role="button">
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
    <h2> Authors </h2>
      {{#each authors}}
        <div class="col-3">
          <img class="img-responsive" src="{{image_url}}" alt="Smiley face" />
          <h4 class="display-3">{{name}}</h4>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/authors/{{id}}" role="button">
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
