<div class="jumbotron">
  <div class="container">
    <div class="row">
      {{#each books}}
        <div class="col-md-3">
          <img class="img-responsive" src="{{image_url}}" alt="Smiley face" />
          <h3 class="display-3">{{title}}</h3>
          <hr class="m-y-md">
          <p class="lead">
            <Button class="btn btn-success btn-lg" href="#" role="button">
              Details
            </Button>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      {{#each genres}}
        <div class="col-md-3">
          <h3 class="display-3">{{name}}</h3>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/genres/{{id}}" role="button">
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      {{#each authors}}
        <div class="col-md-3">
          <img class="img-responsive" src="{{image_url}}" alt="Smiley face" />
          <h3 class="display-3">{{name}}</h3>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/authors/{{id}}" role="button">
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
