<div class="jumbotron">
  <div class="container">
    <div class="row">
    <h2 class="text-center"> <u>Books</u> </h2>
    <br />
      {{#each books}}
        <div class="col-md-3">
          <img class="img-responsive thumbnail" src="{{image_url}}" alt="Smiley face" />
          <h4 class="display-3"><strong>{{title}}</strong></h4>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/books/{{id}}" role="button">
              <span class="glyphicon glyphicon-list"></span>
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
    <h2 class="text-center"> <u>Genres</u> </h2>
    <br/>
      {{#each genres}}
        <div class="col-md-3">
          <h4 class="display-3"><strong>{{name}}</strong></h4>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/genres/{{id}}" role="button">
              <span class="glyphicon glyphicon-list"></span>
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="row">
    <h2 class="text-center"> <u>Authors</u> </h2>
    <br />
      {{#each authors}}
        <div class="col-md-3">
          <img class="img-responsive thumbnail" src="{{image_url}}" alt="Smiley face" />
          <h4 class="display-3"><strong>{{name}}</strong></h4>
          <hr class="m-y-md">
          <p class="lead">
            <a class="btn btn-success btn-lg" href="/authors/{{id}}" role="button">
              <span class="glyphicon glyphicon-list"></span>
              Details
            </a>
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</div>
